.root {
  :global(.ant-pro-card-body) {
    padding: 12px;
  }

  :global(.ant-pro-query-filter-actions .ant-form-item-label) {
    display: none;
  }

  :global(.ant-pro-query-filter-actions) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
